*,
*::before,
*::after {
  box-sizing: border-box;
}

/* welcome section styles */


body{
    background-image: url(../img/stars.png);
    background-color: rgb(17, 17, 17);
}


.container{
    position: relative;
    top:175px;
    left:434px;
    right:396px;
    bottom:50.91px;
    width:1090px;
    height: 1110px;
    
}


.container h1{
    position: absolute;
    top:-64px;
    width: 1090px;
    height: 212px;
    font-family: Rowdies;
    font-style: normal;
    font-weight: normal;
    font-size: 96px;
    line-height: 119px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FE3B1F;

}

.container #welcomeButton{
    position: absolute;
    top:317px;
    left:320px;
    width: 395px;
    height: 79px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
    background-color: #FE3B1F;
    border-radius: 50px;
    cursor:pointer;
}

.container span {
    position: absolute;
    width: 338px;
    height: 66px;
    left: 361px;
    top: 414px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration-line: underline;
    color: #FFFFFF;
    cursor: pointer;
    z-index:2;
}


.container .img{
    position: absolute;
    width: 409.92px;
    height: 372.45px;
    left: 250px;
    top: 480px;
    transform: rotate(-27.28deg);
    z-index:1;
}




/* section1 page styles */


.font-rowdies{
    font-family: 'Rowdies', cursive;
}

.font-montserrat {
    font-family: 'Montserrat', sans-serif;
}



/* for personal information page styles */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {

  left: 0;
  background-color: white;
}

/* Control the right side */
.right {
  right: 0;
  background-color: #111;
}

.left h1{
    text-align: center;
    position: absolute;
    width: 716px;
    height: 128px;
    left: 105px;
    top: 131px;
    font-family: Rowdies;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 79px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FE3B1F;

}


.form-container{
    position: absolute;
    left: 235px;
    top: 390px;
}

.form-container input {
    margin-top: 30px;
    width: 455px;
    height: 54px;
    background: #FFFFFF;
    border: 1px solid #525557;
    box-sizing: border-box;
}

::placeholder {
    position: absolute;
    left:60px;
    top:15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    color: #454545;
}


/* right side styles */


.right h1 {
    margin-top:131px;
    text-align: center;
    color: #FE3B1F;
    font-size: 64px;
    font-style: normal;
    font-weight: normal;
    line-height: 79px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right p {
    text-align: center;
    width: 705px;
    height: 606px;
    margin-top:-35px;
    margin-left:180px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 200%;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}



/* next page styles */


.change-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    margin-top:120px;
    cursor: pointer;
    margin-right:310px;
    z-index:1;
}



.circle{
    width: 19px;
    height: 19px;
    background: #FE3B1F;
    border-radius:50px;
    align-items: center;
    justify-content: center;
    margin: 15px;
    opacity:0.1;
}


.change-page .circle:hover,
.change-page .circle.active
{
    opacity:1;
}






/* section2 page styles */


.changepage-position {
    position: absolute;
    height:0;
    left: 250px;
    top: 689px;
}


.left h2{
    position: absolute;
    width: 788px;
    height: 175px;
    left: 85px;
    top: 22px;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 79px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FE3B1F;
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width:800px;
    margin-top:350px;
}

.form input {
    margin-top: 30px;
    width: 455px;
    height: 54px;
    background: #FFFFFF;
    border: 1px solid #525557;
    box-sizing: border-box;
}




.form button {
    position: absolute;
    width: 201px;
    height: 40px;
    background: #FE3B1F;
    border:none;
    left: 425px;
    top: 580px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    cursor:pointer;
    z-index:1;
}


.form .relative{
    position: relative;
}

.form img{
    position: absolute;
    right:15px;
    top:55px;
    cursor: pointer;
}



/* dropDown styles */


.dropDown{
    width: 455px;
    height:55px;
    background-color: white;
    z-index:5;
    color:black;
    font-weight: bold;
}


.dropDown p {

   margin-left:30px;
   cursor: pointer;
}

.dropDown p:hover{
    color:gray;
}

.relative #upDown{
    position: absolute;
    top:40px;
}

#forVector {
    position: relative;
}

.dropDownStyle{
    position: absolute;
    top:35px;
    left:30px;
    background-color: black;
    color:white;
    width:60px;
    height:40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0  45px;
}


.getElements{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}


.forHover:hover{
    color: gray;
}


.forElemPosition{
    position: absolute;
    top:500px;
}


.element-container{
    position: absolute;
    left:5px;
    top:35px;
    color:black;
    height:40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.h4-absolute{
    margin: 0 5px;

}




/* addValue Styles */


.addValue{
    position: absolute;
    width: 447px;
    height: 48px;
    left: 170px;
    top: 650px;
    background: #FFFFFF;
    border: 1px solid #525557;
    box-sizing: border-box;
    display: flex;
    align-items: center;

}


.value-container{
    position: absolute;
    width: 455px;
    top:650px;
    
}


.valueStyles{
    width: 447px;
    height: 48px;
    background: #FFFFFF;
    margin-bottom: 20px;
    border: 1px solid #525557;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index:13;
}


/* .forJavaInput{
    position: absolute;
    left:30px;
} */


.removeInput{
    border:2px solid #EB3535;
    width: 20px;
    height: 20px;
    border-radius:50%;
    cursor:pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.removeInput:hover{
    border:2px solid #f76464;
   
}

.horizontal {
    width:10px;
    border-top:2px solid #EB3535 ;
}



.right h2{
    position: absolute;
    width: 788px;
    height: 175px;
    left: 176px;
    top: 22px;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 79px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FE3B1F;
}


.right p {
    position: absolute;
    width: 705px;
    height: 606px;
    left: -15px;
    top: 240px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 200%;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.8;
}


/* section 3 styles */


.split {
    height: 1380px;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }


.left h4{
    position: absolute;
    width: 788px;
    height: 175px;
    left: 51px;
    top: -61px;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 79px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #FE3B1F;
}



#section3 form {
    position: absolute;
    width: 645px;
    height: 157px;
    left: 166px;
    top: 301px;
}


#section3 fieldset {
    border: none;
}

#section3 legend {
    font-size: 18px;
}


#section3 input {
    margin-top:20px;
}

.legend2 {
    position: absolute;
    width: 645px;
    height: 52px;
    left: 10px;
    top: 209px;
}


.legend3{
    position: relative;
    width: 645px;
    height: 119px;
    left: -5px;
    top: 230px;
}

.legend3 h6{
    position: absolute;
    top:-5px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 22px;
    color: #000000;
}

.legend3 input {
    position: absolute;
    top:90px;
    width: 455px;
    height: 54px;
}

.legend3 input[type="date"] { 
    background: transparent;
    color:  #454545;
  }

.legend3 img {
    position: absolute;
    bottom:-28px;
    right:220px;
}


.legend4 {
    position: absolute;
    width: 645px;
    height: 119px;
    left: 10px;
    top: 650px; 
}

#section3 .split{
    overflow: scroll;

}


#section3 .changepage-position{
    top:1292px;
}

.legend5{
    position: absolute;
    width: 645px;
    height: 121px;
    left: 10px;
    top: 800px;
}

.legend5 img {
    position: absolute;
    bottom:-28px;
    right:220px;
}


.legend5 input {
    position: absolute;
    top:90px;
    width: 455px;
    height: 54px;
}

.legend5 input[type="date"] { 
    background: transparent;
    color:  #454545;
  }

.legend5 h6{
    position: absolute;
    top:-5px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

#section3 .split {
    height: 100vh;
    width: 50vw;
    overflow: scroll;

}


#section3 .right h2 {
    top:-25px;
}



/* section 4 styles */


#section4 h1{
    position: absolute;
    width: 788px;
    height: 175px;
    left: 140px;
    top: -43px;
    font-family: Rowdies;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 79px;
    display: flex;
    align-items: center;
    color: #FE3B1F;
}


.section4-form{
    position: absolute;
    width: 645px;
    height: 119px;
    left: 153px;
    top: 245px;
}


#section4 fieldset {
    border: none;
}

#section4 legend {
    font-size: 18px;
}


#section4 input {
    margin-top:20px;
}


#section4 .input-width{
    position: absolute;
    left: 10px;
    top: 200px;
    background: #FFFFFF;
    border: 1px solid #525557;
    width: 535px;
    height: 122px;
}

#section4 .input {
    position: absolute;
    display: flex;
    justify-content: start;
    padding-top:24px;
    border:none;
    color:#3A3A3A;
    display: none;
    
}

.legend{
    position: absolute;
    width: 645px;
    height: 52px;
    left: 10px;
    top: 130px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #000000;

}

#section4 .input-width2{
    position: absolute;
    width: 535px;
    height: 89px;
    left: 10px;
    top:420px;
    background: #FFFFFF;
    border: 1px solid #525557;

}

#section4 .input2{
    position: absolute;
    top:24px;
    left:23px;
    bottom: 33px;
    border:none;
    color:#3A3A3A;
}


#section4 .legend2{
    top:370px;
}


#section4 .right h1{
    top:-115px;
}


#section4 button{
    display: flex;
    justify-content: flex-start;
    padding-top: 24px;
    padding-left:23px;
    width: 535px;
    height: 122px;
    background: transparent;
    color:#3A3A3A;
}




/* section 5 styles */


#section5 .background {
    background-color: black;
    width:1920px;
    height:1080px;
}

#section5 .button button{
    
    position: absolute;
    width: 395px;
    height: 79px;
    left: 758px;
    top: 458px;

    background: #FE3B1F;
    border-radius: 50px;
    cursor:pointer;
    border:none;
    width: 395px;
    height: 79px;
    left: 758px;
    top: 458px;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #FFFFFF;

}


#section5 .button span {
    position: absolute;
    width: 190px;
    height: 50px;
    left: 861px;
    top: 572px;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration-line: underline;
    color: #FFFFFF;

}

.go-back{
    cursor: pointer;
}


/* section6 */


#section6 .background {
    background-color: black;
    width:1920px;
    height:1080px;
    display: flex;
}


#section6 h1{
    position: absolute;
    width: 1066px;
    height: 191px;
    left: 427px;
    top: 244px;
    font-family: Rowdies;
    font-style: normal;
    font-weight: normal;
    font-size: 96px;
    line-height: 119px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FE3B1F;
}

