body{
    background-image: url(../img/stars.png);
    background-color: rgb(17, 17, 17);
}


/* first page styles */



.container{
    position: relative;
    top:175px;
    left:434px;
    right:396px;
    bottom:50.91px;
    width:1090px;
    height: 1110px;
    
}


.container h1{
    position: absolute;
    top:-64px;
    width: 1090px;
    height: 212px;
    font-family: Rowdies;
    font-style: normal;
    font-weight: normal;
    font-size: 96px;
    line-height: 119px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FE3B1F;

}

.container button{
    position: absolute;
    top:317px;
    left:320px;
    width: 395px;
    height: 79px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
    background-color: #FE3B1F;
    border-radius: 50px;
    cursor:pointer;
}

.container span {
    position: absolute;
    width: 338px;
    height: 66px;
    left: 361px;
    top: 414px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration-line: underline;
    color: #FFFFFF;
    cursor: pointer;
    z-index:2;
}


.container .img{
    position: absolute;
    width: 409.92px;
    height: 372.45px;
    left: 250px;
    top: 480px;
    transform: rotate(-27.28deg);
    z-index:1;
}



